<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--启用@AsjectJ支持-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 配置文件config.properties -->
    <context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"
                                  local-override="true" ignore-resource-not-found="true"/>

    <!--组件扫描，加载除controller外的bean，controller交给mvc管理-->
    <context:component-scan base-package="com.ssm.*">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:annotation-config/>
    <!-- 自动扫描dao和service包(自动注入) -->
    <!--<context:component-scan base-package="**.*.service"/>-->

    <import resource="classpath*:spring/spring-mybatis.xml"/>
    <import resource="classpath*:spring/spring-redis.xml"/>
    <import resource="classpath*:spring/spring-security.xml"/>

</beans>