<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>待办管理系统</title>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/JQuery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <style type="text/css">
        .myiframe {
            display: inline-block;
        }

        .container {
            margin-top: 50px;
        }

        #logout {
            position: absolute;
            right: 30px;
            top: 30px;
        }
    </style>
    <script>
        $(function () {
            changeWH();
        });

        function changeWH() {

            // $("#myiframe").height($(".col-lg-9").height());
            $("#myiframe").width($(".col-lg-10").width());
        }

        window.onresize = function () {
            changeWH();

        };

        function changeSrc(url) {
            $('iframe').attr('src', url)
        }
    </script>
</head>
<body>
<div>
    <a id="logout" class="btn btn-danger" href="/logout">注销</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#" onclick="changeSrc('/todo/getList')">待办事项列表</a>
                </li>
                <li role="presentation"><a href="#" onclick="changeSrc('/WEB-INF/views/infoMaintenance.jsp')">个人信息维护</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <iframe src="/todoItemController/getList" frameborder="0" id="myiframe" height="500"></iframe>
            <iframe src="/todoItemController/toTodoList" frameborder="0" id="myiframe1" height="500"></iframe>
        </div>
    </div>
</div>

</body>
</html>
